<% layout('/layouts/boilerplate.ejs') %>

    <body class="u-s-body">
        <div class="form-container">
            <form action="/user/signup" method="post" class="needs-validation" novalidate>
                <h2>Sign-Up</h2>
                <div class="input-group mb-3 ">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <input type="text" placeholder="Enter username" name="username" id="username" class="form-control"
                        required>
                    <div class="invalid-feedback"> Username is required ! </div>
                </div>
                <div class="mb-3 form-floating">
                    <input type="text" placeholder="Enter email" name="email" id="email" class="form-control" required>
                    <label for="email">Email </label>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                <div class="mb-3 form-floating u-s-pass">
                    <input type="text" placeholder="Enter password" name="password" id="password" class="form-control"
                        required>
                    <label for="password" class="form-label">Password </label>
                    <span class="input-group-text " id="u-pass-span-icon"><i id="pass-icon"
                            class="fa-solid fa-eye"></i></span>
                    <div class="invalid-feedback"> Password is required ! </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        placeholder="Confirm Password" required="">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>
                <button class="btn btn-success">SignUp</button>
                <div class="login-btn">
                    <p>Already have an account ? <a href="/user/login">logIn</a></p>
                </div>
            </form>
        </div>
        <script>
            let passwordVisible = false;

            document.getElementById('pass-icon').addEventListener('click', function () {
                passwordVisible = !passwordVisible;
                const passwordInput = document.getElementById('password');

                if (passwordVisible) {
                    passwordInput.setAttribute('type', 'text');
                    this.classList.remove('fa-eye');
                    this.classList.add('fa-eye-slash');
                } else {
                    passwordInput.setAttribute('type', 'password');
                    this.classList.remove('fa-eye-slash');
                    this.classList.add('fa-eye');
                }
            });
        </script>
    </body>